.leaflet-tooltip.custom {
    color: initial;
    background: none;
    border: none;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    box-shadow: none;

}

/* remove default arrow */
.leaflet-tooltip.custom::before {
    display: none;
}