@import 'tailwindcss';

@theme {
  /* fonts */
  --font-sans: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', Inter, Roboto, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --font-serif: var(--font-serif), serif;
  --font-heading: var(--font-heading), serif;

  /* base gray */
  --color-g-50: var(--color-stone-50);
  --color-g-100: var(--color-stone-100);
  --color-g-200: var(--color-stone-200);
  --color-g-300: var(--color-stone-300);
  --color-g-400: var(--color-stone-400);
  --color-g-500: var(--color-stone-500);
  --color-g-600: var(--color-stone-600);
  --color-g-700: var(--color-stone-700);
  --color-g-800: var(--color-stone-800);
  --color-g-900: var(--color-stone-900);
  --color-g-950: var(--color-stone-950);

  /* theme */
  --color-line: var(--color-g-200);
  --color-line-dark: var(--color-g-800);

  --color-layer-0: --color-white;
  --color-layer-0-dark: var(--color-g-950);

  --color-layer-1: var(--color-g-50);
  --color-layer-1-dark: var(--color-g-900);

  /* --color-olive: #292718; */
  /* --color-cream: #F4F1DE; */

  --color-accent-dark: var(--color-blue-800);
  --color-accent-light: var(--color-white);
}



/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root,
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  flex-shrink: 0;
  /* Globally disable flex shrink */
}