.gradient-mask {
    --stop: 25%;
    -webkit-mask-image: linear-gradient(to bottom, transparent var(--stop), black 100%);
    mask-image: linear-gradient(to bottom, transparent var(--stop), black 100%);
}

@screen sm {
    .gradient-mask {
        --stop: 70%;
    }
}
