:root {
    --px: theme('padding.4');

    --bg-before: theme('colors.layer.1.DEFAULT');
    --bg-after: theme('colors.layer.0.DEFAULT')cc;
}

@screen sm {
    :root {
        --px: theme('padding.10');
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-before: theme('colors.layer.1.dark');
        --bg-after: theme('colors.layer.0.dark')cc;
    }
}