:root {
    --px: theme('padding.4');

    --layer-0: theme('colors.layer.0.DEFAULT');
    --layer-1: theme('colors.layer.1.DEFAULT');
}

@screen sm {
    :root {
        --px: theme('padding.10');
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --layer-0: theme('colors.layer.0.dark');
        --layer-1: theme('colors.layer.1.dark');
    }
}